body{
    background-color:yellow;
    font-family: Arial, sans-serif;
} 

header{
    text-align: center;
    padding: 10px;
}

ul,li{
    align-items:center;
    margin-left: 20px auto;
    padding: 20px;
}
