body {
    background-color: chartreuse;
}

h1 {
    text-align: center;
}

div {
    text-align: center;
    align-items: center;
}

img {
    width: 400px;
    border-radius: 5px;
}

button {
    align-items: center;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 2s ease;

}

.button:hover {
    background-color: lime;
}


.span1 {
    color: green;
}

.span2 {
    color: red;
}