body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: darkred;
}

.passport {
    width: 200px;
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: brown;
}

.passport .photo {
    width: 100px;
    height: 120px;
    margin: 0 auto 10px;
    background-color: #ccc;
    border: 1px solid #888;
    border-radius: 4px;
}

.passport .details {
    text-align: center;
}

.passport .details h2 {
    margin: 0;
    font-size: 18px;
}

.passport .details p {
    margin: 5px 0;
    font-size: 14px;
}